.remaining-side {
    background-image: url('/public/image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    width: 110rem;
    opacity: 85%;
}